<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <title>Master Budget | KICAO KDS</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>
<body>
    <div id="app-content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Master Budget
                <small>Master Budget</small>
            </h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-success">
                        <div class="box-header with-border text-right">
                            <button id="btnFind" class="btn btn-success" onclick="handleFind()"><i class="fa fa-search"></i> Find</button>
                            <button id="btnSave" class="btn btn-success" onclick="handleSave()"><i class="fa fa-floppy-o"></i> Save</button>
                            <button id="btnNew" class="btn btn-warning" onclick="handleNew()"><i class="fa fa-refresh"></i> New</button>
                            <button id="btnDelete" class="btn btn-danger" onclick="handleDelete()" style="display:none;"><i class="fa fa-trash"></i> Delete </button>
                        </div>
                        <!-- /.box-header -->
                        
                        <!-- form start -->
                        <form role="form" id="frmBudget" onsubmit="event.preventDefault()">
                            <div class="box-body">
                                <div class="row-form">
                                    <div class="col-sm-2">
                                        <label id="lblBudgerHeaderID" class="control-label">ID</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="txtID" disabled placeholder="[AUTO]">
                                    </div>
                                </div>
                                
                                <div class="row-form">
                                    <div class="col-sm-2">
                                        <label id="lblPeriod" class="control-label" style="font-size:14px">Period Budget</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control" id="ddlPeriod" onchange="calculateSummary()">
                                            <option value="2026">2026</option>
                                            <option value="2025">2025</option>
                                            <option value="2024">2024</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-2">
                                        <label id="lblTotalBudget" class="control-label" style="font-size:14px">Total Budget</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control text-right" id="totalBudget" disabled value="0">
                                    </div>
                                </div>
                                
                                <div class="row-form">
                                    <div class="col-sm-2">
                                        <label id="lblGroupAccount" class="control-label">Group Account</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-danger" id="btnLOVGroupAccount" onclick="openLovGroupAccount()"> <i class="fa fa-search"></i></button>
                                            </div>
                                            <input type="text" class="form-control" id="txtGroupAccount" disabled value="KALBE DISTRIBUTOR SYSTEM">
                                        </div>
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-2">
                                        <label id="lblTotalTargetSales" class="control-label" style="font-size:14px">Total Target Sales</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control text-right" id="txtTotalTargetSales" disabled value="0">
                                    </div>
                                </div>
                                
                                <div class="row-form">
                                    <div class="col-sm-2">
                                        <label id="lblBudgetType" class="control-label">MT Budget Type</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control" id="ddlBudgetType">
                                            <option value="REGULAR">REGULAR BUDGET</option>
                                            <option value="PROMOTION">PROMOTION BUDGET</option>
                                            <option value="MARKETING">MARKETING BUDGET</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-2">
                                        <label id="lblTotalCostRatio" class="control-label" style="font-size:14px">Cost Ratio (%)</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control text-right" id="txtCostRatio" disabled value="0.00%">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->

                    <!-- detail block -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <div class="col-sm-9 text-left" style="padding-left: 0;">
                                <label class="text-info" style="display:block;">Upload Excel File</label>
                                <div style="display:flex; gap: 8px;">
                                    <input type="file" class="form-control" id="fileUploadBudgetDetail" style="width: 250px;" />
                                    <button class="btn btn-default" onclick="handleUpload()"><i class="fa fa-upload"></i> Upload</button>
                                </div>
                            </div>
                            <div class="col-sm-3 text-right" style="padding-right: 0; display: flex; align-items: flex-end; justify-content: flex-end; height: 59px;">
                                <button class="btn btn-success" onclick="handleDownload()"><i class="glyphicon glyphicon-download"></i> Download Budget Detail</button>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="form-group">
                                <label id="lblDetail" class="text-info" style="font-size: 16px; font-weight: 600;">Budget Detail</label>
                            </div>
                            
                            <div style="overflow-x:auto;">
                                <table id="dtDetail" class="table table-condensed table-striped table-hover table-bordered">
                                    <thead>
                                        <tr style="background: #36752d; color: #fff;">
                                            <th style="width: 50px; text-align: center;">No</th>
                                            <th>UmBrand</th>
                                            <th>Sub UmBrand</th>
                                            <th>Brand</th>
                                            <th>Sub Brand</th>
                                            <th>KN</th>
                                            <th style="text-align: right; width: 150px;">Budget (IDR)</th>
                                            <th style="text-align: right; width: 150px;">Target Sales (IDR)</th>
                                            <th style="text-align: right; width: 100px;">Cost Ratio</th>
                                            <th style="text-align: center; width: 80px;">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody id="dtBodyBudget">
                                        <!-- Will be filled by js -->
                                    </tbody>
                                </table>
                            </div>

                            <div class="text-right" style="margin-top: 15px;">
                                <button class="btn btn-warning" onclick="handleAddDetail()"><i class="fa fa-plus"></i> Add Detail</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- LOV Group Account Modal -->
        <div class="modal fade" id="lovModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">List of Group Account</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" style="display:flex; gap: 8px;">
                            <input type="text" class="form-control" id="searchLov" placeholder="Search...">
                            <button class="btn btn-success" onclick="searchGroupAccount()"><i class="fa fa-search"></i> Search</button>
                        </div>
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr style="background: #36752d; color: white;">
                                    <th>ID</th>
                                    <th>Account Name</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <tbody id="lovBody">
                                <tr>
                                    <td>1</td>
                                    <td>KALBE DISTRIBUTOR SYSTEM</td>
                                    <td><button class="btn btn-xs btn-success" onclick="selectGroupAccount('KALBE DISTRIBUTOR SYSTEM')">Select</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>MILNA DISTRIBUTOR ACC</td>
                                    <td><button class="btn btn-xs btn-success" onclick="selectGroupAccount('MILNA DISTRIBUTOR ACC')">Select</button></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>PRENAGEN KEY ACCOUNT</td>
                                    <td><button class="btn btn-xs btn-success" onclick="selectGroupAccount('PRENAGEN KEY ACCOUNT')">Select</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../Scripts/layout.js"></script>
    <script>
        let budgetDetails = [
            { id: 1, umbrand: 'CH', subUmbrand: 'CH-MILNA', brand: 'Milna', subBrand: 'Milna Baby Cereal', kn: 'KN-001', budget: 500000000, targetSales: 2500000000 },
            { id: 2, umbrand: 'NUT', subUmbrand: 'NUT-PRENAGEN', brand: 'Prenagen', subBrand: 'Prenagen Mommy', kn: 'KN-002', budget: 350000000, targetSales: 1500000000 },
            { id: 3, umbrand: 'ENT', subUmbrand: 'ENT-DIABETASOL', brand: 'Diabetasol', subBrand: 'Diabetasol Vanilla', kn: 'KN-003', budget: 150000000, targetSales: 1000000000 }
        ];

        document.addEventListener('layoutReady', () => {
            renderDetails();
        });

        function formatCurrency(val) {
            return new Intl.NumberFormat('id-ID', { minimumFractionDigits: 0 }).format(val);
        }

        function cleanNumber(str) {
            return parseFloat(str.replace(/[^0-9,-]/g, '').replace(',', '.')) || 0;
        }

        function renderDetails() {
            const tbody = document.getElementById('dtBodyBudget');
            tbody.innerHTML = '';

            budgetDetails.forEach((item, index) => {
                const tr = document.createElement('tr');
                const ratio = item.targetSales > 0 ? ((item.budget / item.targetSales) * 100).toFixed(2) + '%' : '0.00%';
                
                tr.innerHTML = `
                    <td style="text-align: center; vertical-align: middle;">${index + 1}</td>
                    <td><input type="text" class="form-control input-sm" value="${item.umbrand}" onchange="updateCell(${index}, 'umbrand', this.value)"></td>
                    <td><input type="text" class="form-control input-sm" value="${item.subUmbrand}" onchange="updateCell(${index}, 'subUmbrand', this.value)"></td>
                    <td><input type="text" class="form-control input-sm" value="${item.brand}" onchange="updateCell(${index}, 'brand', this.value)"></td>
                    <td><input type="text" class="form-control input-sm" value="${item.subBrand}" onchange="updateCell(${index}, 'subBrand', this.value)"></td>
                    <td><input type="text" class="form-control input-sm" value="${item.kn}" onchange="updateCell(${index}, 'kn', this.value)"></td>
                    <td><input type="text" class="form-control input-sm text-right autonumeric" value="${formatCurrency(item.budget)}" onchange="updateCellNumber(${index}, 'budget', this.value)"></td>
                    <td><input type="text" class="form-control input-sm text-right autonumeric" value="${formatCurrency(item.targetSales)}" onchange="updateCellNumber(${index}, 'targetSales', this.value)"></td>
                    <td style="text-align: right; vertical-align: middle; font-weight: bold;">${ratio}</td>
                    <td style="text-align: center; vertical-align: middle;">
                        <button class="btn btn-danger btn-xs" onclick="deleteRow(${index})"><i class="fa fa-trash"></i></button>
                    </td>
                `;
                tbody.appendChild(tr);
            });

            calculateSummary();
        }

        function updateCell(index, key, val) {
            budgetDetails[index][key] = val;
        }

        function updateCellNumber(index, key, val) {
            const num = cleanNumber(val);
            budgetDetails[index][key] = num;
            renderDetails(); // re-render to update ratios and sums
        }

        function deleteRow(index) {
            bootbox.confirm("Are you sure you want to delete this row?", (res) => {
                if (res) {
                    budgetDetails.splice(index, 1);
                    renderDetails();
                }
            });
        }

        function handleAddDetail() {
            budgetDetails.push({
                id: Date.now(),
                umbrand: '',
                subUmbrand: '',
                brand: '',
                subBrand: '',
                kn: '',
                budget: 0,
                targetSales: 0
            });
            renderDetails();
        }

        function calculateSummary() {
            let totalBudget = 0;
            let totalSales = 0;

            budgetDetails.forEach(item => {
                totalBudget += item.budget;
                totalSales += item.targetSales;
            });

            document.getElementById('totalBudget').value = formatCurrency(totalBudget);
            document.getElementById('txtTotalTargetSales').value = formatCurrency(totalSales);
            
            const totalRatio = totalSales > 0 ? ((totalBudget / totalSales) * 100).toFixed(2) + '%' : '0.00%';
            document.getElementById('txtCostRatio').value = totalRatio;
        }

        function handleFind() {
            bootbox.prompt("Enter Budget Header ID to find:", (id) => {
                if (id) {
                    document.getElementById('txtID').value = id;
                    document.getElementById('btnDelete').style.display = 'inline-block';
                    bootbox.alert(`Loaded Budget ID: ${id}`);
                }
            });
        }

        function handleSave() {
            bootbox.confirm("Do you want to save this Budget?", (res) => {
                if (res) {
                    if (!document.getElementById('txtID').value) {
                        document.getElementById('txtID').value = 'BGT-' + Math.floor(Math.random() * 9000 + 1000);
                    }
                    document.getElementById('btnDelete').style.display = 'inline-block';
                    bootbox.alert("Budget successfully saved!");
                }
            });
        }

        function handleNew() {
            bootbox.confirm("Create new Budget template? Unsaved changes will be lost.", (res) => {
                if (res) {
                    document.getElementById('txtID').value = '';
                    document.getElementById('ddlPeriod').value = '2026';
                    document.getElementById('ddlBudgetType').value = 'REGULAR';
                    document.getElementById('btnDelete').style.display = 'none';
                    budgetDetails = [];
                    renderDetails();
                }
            });
        }

        function handleDelete() {
            bootbox.confirm("Are you sure you want to delete this Budget record?", (res) => {
                if (res) {
                    handleNew();
                    bootbox.alert("Budget deleted.");
                }
            });
        }

        function handleUpload() {
            const fileInput = document.getElementById('fileUploadBudgetDetail');
            if (fileInput.files.length === 0) {
                bootbox.alert("Please choose an Excel file to upload.");
                return;
            }
            $.blockUI({ message: '<h4>Uploading budget details...</h4>' });
            setTimeout(() => {
                $.unblockUI();
                budgetDetails.push({
                    id: Date.now(),
                    umbrand: 'ENT',
                    subUmbrand: 'ENT-NUTRILITE',
                    brand: 'Nutrilite',
                    subBrand: 'Nutrilite Protein',
                    kn: 'KN-099',
                    budget: 120000000,
                    targetSales: 800000000
                });
                renderDetails();
                bootbox.alert("Excel data successfully appended to details!");
            }, 1500);
        }

        function handleDownload() {
            bootbox.alert("Downloading Budget Details Template... Saved to Download folder.");
        }

        function openLovGroupAccount() {
            $('#lovModal').modal('show');
        }

        function selectGroupAccount(name) {
            document.getElementById('txtGroupAccount').value = name;
            $('#lovModal').modal('hide');
        }

        function searchGroupAccount() {
            const q = document.getElementById('searchLov').value.toUpperCase();
            const rows = document.querySelectorAll('#lovBody tr');
            rows.forEach(row => {
                const name = row.cells[1].textContent.toUpperCase();
                if (name.includes(q)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        }
    </script>
</body>
</html>
