<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <title>Request For Advance | KICAO KDS</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>
<body>
    <div id="app-content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Request For Advance
                <small>Request For Advance</small>
            </h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border text-right">
                            <button id="btnPrintBarcode" class="btn btn-info" onclick="handlePrintBarcode()"><i class="fa fa-barcode"></i> Print Barcode</button>
                            <button id="btnPrintKPP" class="btn" style="color:black; background-color:#1BDAF1" onclick="handlePrintKPP()"><i class="fa fa-print"></i> Print KPP</button>
                            <button id="btnFind" class="btn btn-success" onclick="handleFind()"><i class="fa fa-search"></i> Find</button>
                            <button id="btnSave" class="btn btn-success" onclick="handleSave()"><i class="fa fa-floppy-o"></i> Save</button>
                            <button id="btnNew" class="btn btn-warning" onclick="handleNew()"><i class="fa fa-refresh"></i> New</button>
                            <button id="btnCreateAsNew" class="btn btn-warning" onclick="handleCreateAsNew()" style="display:none;"><i class="fa fa-refresh"></i> Create as New</button>
                            <button id="btnSubmit" class="btn btn-success" onclick="handleSubmit()" style="display:none;"><i class="fa fa-send"></i> Submit</button>
                            <button id="btnApprovalHistory" class="btn btn-info" style="display:none;" onclick="handleApprovalHistory()"><i class="fa fa-history"></i> Approval History</button>
                            <button id="btnPrintout" class="btn btn-info" onclick="handlePrint()"><i class="fa fa-print"></i> Print</button>
                            <button id="btnPushSmart" class="btn btn-success" onclick="handlePushSmart()" style="display:none;"><i class="fa fa-upload"></i> Push SMART</button>
                        </div>
                        <!-- /.box-header -->

                        <form role="form" id="frmRFA" onsubmit="event.preventDefault()">
                            <div class="box-body">
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2">
                                            <label id="lblDocNo" class="control-label">Document No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="txtDocNo" disabled placeholder="[AUTO]">
                                        </div>
                                        <div class="col-md-2">
                                            <label id="lblDate" class="control-label">Request Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" id="dtRequestDate" style="width:100px;" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2">
                                            <label id="lblSupplierName" class="control-label">Supplier Name</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-danger" id="btnLOVSupplierName" onclick="openSupplierLov()"> <i class="fa fa-search"></i></button>
                                                </div>
                                                <div class="input-group-btn" style="width:100px;">
                                                    <input type="text" class="form-control" id="txtSupplierID" disabled placeholder="ID">
                                                </div>
                                                <input type="text" class="form-control" id="txtSupplierName" disabled placeholder="Supplier Name">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label id="lblSupplierSite" class="control-label">RFA Oracle No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" id="txtRFAOracleNo" class="form-control" readonly placeholder="-">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2">
                                            <label id="lblSupplierSite" class="control-label">Supplier Site</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-danger" id="btnLOVSupplierSite" onclick="openSupplierSiteLov()"> <i class="fa fa-search"></i></button>
                                                </div>
                                                <div class="input-group-btn" style="width:100px;">
                                                    <input type="text" class="form-control" id="txtSupplierSiteID" disabled placeholder="ID">
                                                </div>
                                                <input type="text" class="form-control" id="txtSupplierSiteName" disabled placeholder="Site Name">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label id="lblDueDate" class="control-label">Due Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-primary" id="btndtDueDate"><i class="fa fa-calendar"></i></button>
                                                </div>
                                                <input type="text" id="dtDueDate" style="width:100px;" class="form-control datepicker" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2">
                                            <label id="lblReff" class="control-label">Get Klaim Matching</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-danger" id="btnLOVReffRFA" onclick="openKlaimMatchingLov()"> <i class="fa fa-search"></i></button>
                                                </div>
                                                <input type="text" class="form-control" id="txtReffRFA" disabled placeholder="-">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2">
                                            <label id="lblBatchName" class="control-label">Batch Name</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <div class="input-group-btn" style="width:100px;">
                                                    <input type="text" class="form-control" id="txtPrefixBatch" value="RFA D" disabled>
                                                </div>
                                                <input type="text" class="form-control" id="txtBatchName" maxlength="42" placeholder="Batch Name">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label id="lblStatus" class="control-label">Status</label>
                                        </div>
                                        <div class="col-md-4">
                                            <label id="lblStatusFlow" class="control-label text-blue" style="font-size: 16px;">NEW</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2">
                                            <label id="lblDescription" class="control-label">Description</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="txtDescription" maxlength="220" placeholder="RFA Description">
                                        </div>
                                        <div class="col-md-2">
                                            <label id="lblRequestor" class="control-label">Requestor</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="txtRequestor" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2">
                                            <label id="lblApTerm" class="control-label">Ap Term</label>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="form-control" id="ddlApTerm">
                                                <option value="IMMEDIATE">IMMEDIATE</option>
                                                <option value="NET 30">NET 30</option>
                                                <option value="NET 45">NET 45</option>
                                                <option value="NET 60">NET 60</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label id="lblTermDate" class="control-label">Term Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-primary" id="btndtTermDate"><i class="fa fa-calendar"></i></button>
                                                </div>
                                                <input type="text" id="dtTermDate" style="width:100px;" class="form-control datepicker" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4"></div>
                                        <div class="col-md-2">
                                            <label id="lblInvoiceDate" class="control-label">Invoice Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-primary" id="btndtInvoiceDate"><i class="fa fa-calendar"></i></button>
                                                </div>
                                                <input type="text" id="dtInvoiceDate" style="width:100px;" class="form-control datepicker" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4"></div>
                                        <div class="col-md-2">
                                            <label id="lblCurrency" class="control-label">Currency</label>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="form-control" id="ddlCurrency" disabled>
                                                <option value="IDR">IDR</option>
                                                <option value="USD">USD</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2">
                                            <label id="lblActivity" class="control-label">Activity</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="txtActivityCode" disabled value="ACT-KCO-01">
                                        </div>
                                        <div class="col-md-2">
                                            <label id="lblRateType" class="control-label">Rate Type</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="txtRateType" value="Corporate" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2">
                                            <label id="lblRate" class="control-label">Invoice No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="txtInvoiceNo" placeholder="Enter invoice number...">
                                        </div>
                                        <div class="col-md-2">
                                            <label id="lblRate" class="control-label">Rate</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control text-right" id="txtRate" value="1.00" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2">
                                            <label id="lblTaxInvoiceNo" class="control-label">Tax Invoice No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="txtTaxInvoiceNo" placeholder="Enter tax invoice number...">
                                        </div>
                                        <div class="col-md-2">
                                            <label id="lblTaxInvoiceDate" class="control-label">Tax Invoice Date</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control datepicker" style="width:100px;" id="dtTaxInvoiceDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2">
                                            <label id="lblRate" class="control-label">Paid To</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="txtPaidTo" placeholder="Paid To Name">
                                        </div>
                                        <div class="col-md-2">
                                            <label id="lblRate" class="control-label">Account No</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="txtAccountNo" placeholder="Bank Account Number">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2">
                                            <label id="lblAccountName" class="control-label">Account Name</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="txtAccountName" placeholder="Account Holder Name">
                                        </div>
                                        <div class="col-md-2">
                                            <label id="lblRate" class="control-label">Bank Account</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="txtBankAccount" placeholder="Bank Name (e.g. BCA, Mandiri)">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2">
                                            <label id="lblInvoiceAmount" class="control-label">DPP</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control text-right" id="txtInvoiceAmount" value="0" onchange="calculateAmounts()">
                                        </div>
                                        <div class="col-md-2">
                                            <label id="lblPPN" class="control-label">Bank Account ID</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control text-right" id="txtExtBankAccountID" disabled placeholder="[AUTO]">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2">
                                            <label id="lblInvoiceAmount" class="control-label">Tipe PPN</label>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="form-control" id="ddlTipePPN" onchange="calculateAmounts()">
                                                <option value="0">NON PPN</option>
                                                <option value="11">PPN 11%</option>
                                                <option value="12">PPN 12%</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label id="lblPPN" class="control-label">PPN Amount</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control text-right" id="txtPPN" value="0" onchange="updateTotalDirectly()">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2">
                                            <label id="lblJenisPPH" class="control-label">PPH Jenis</label>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="form-control" id="ddlTipePPH" onchange="calculateAmounts()">
                                                <option value="0">NON PPH</option>
                                                <option value="2">PPH 23 (2%)</option>
                                                <option value="10">PPH 21 (10%)</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label id="lblPPH" class="control-label">PPH Amount</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control text-right" id="txtPPH" value="0" onchange="updateTotalDirectly()">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2">
                                            <label id="lblTotalRFA" class="control-label" style="font-weight: bold;">Total RFA</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control text-right" id="txtTotalRFA" disabled value="0" style="font-weight: bold; font-size: 15px; background: #eefceb;">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2">
                                            <label class="control-label">Withholding Tax Desc</label>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="form-control" id="ddlItemWithHoldDescription">
                                                <option value="WHT-001">WHT JASA MANAGEMENT</option>
                                                <option value="WHT-002">WHT JASA KONSTRUKSI</option>
                                                <option value="WHT-003">WHT SEWA ALAT</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">COA/Others</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="txtItemWithHoldDescription2" value="01.2100.99.00">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2">
                                            <label class="control-label"> Invoice Status </label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="TXT_INVOICE_STATUS" disabled value="-">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label"> Paid Date </label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="DTM_PAID_DATE_ORACLE" disabled value="-">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2">
                                            <label class="control-label"> Reason Cancel SMART </label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="TXT_REASON_CANCEL_SMART" disabled value="-">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label"> Paid Status </label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="TXT_PAID_STATUS_ORACLE" disabled value="-">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-form">
                                        <div class="col-md-2">
                                            <label class="control-label"> Message SMART </label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="TXT_MESSAGE_SMART" disabled value="-">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label"> Attachment </label>
                                        </div>
                                        <div class="col-md-4">
                                            <div style="display:flex; gap: 8px; width: 100%;">
                                                <input type="file" id="fileHeader" class="form-control" accept=".pdf" />
                                                <button type="button" id="btnViewAttachment" class="btn btn-success btn-sm" onclick="viewAttachment()">View</button>
                                                <button type="button" id="btnDeleteAttachment" class="btn btn-danger btn-sm" onclick="deleteAttachment()">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Suppliers Modal -->
        <div class="modal fade" id="lovSupplierModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Search Supplier</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" style="display:flex; gap: 8px;">
                            <input type="text" class="form-control" id="searchSupplier" placeholder="Search by name...">
                            <button class="btn btn-success" onclick="searchSupplier()"><i class="fa fa-search"></i> Search</button>
                        </div>
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr style="background: #36752d; color: white;">
                                    <th>Supplier ID</th>
                                    <th>Supplier Name</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <tbody id="supplierBody">
                                <tr>
                                    <td>SUP-101</td>
                                    <td>PT BINTANG TOEDJOE</td>
                                    <td><button class="btn btn-xs btn-success" onclick="selectSupplier('SUP-101', 'PT BINTANG TOEDJOE')">Select</button></td>
                                </tr>
                                <tr>
                                    <td>SUP-102</td>
                                    <td>PT SANGHIANG PERKASA</td>
                                    <td><button class="btn btn-xs btn-success" onclick="selectSupplier('SUP-102', 'PT SANGHIANG PERKASA')">Select</button></td>
                                </tr>
                                <tr>
                                    <td>SUP-103</td>
                                    <td>PT KALBE FARMA TBK</td>
                                    <td><button class="btn btn-xs btn-success" onclick="selectSupplier('SUP-103', 'PT KALBE FARMA TBK')">Select</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Supplier Sites Modal -->
        <div class="modal fade" id="lovSupplierSiteModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Search Supplier Site</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr style="background: #36752d; color: white;">
                                    <th>Site ID</th>
                                    <th>Site Name</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <tbody id="supplierSiteBody">
                                <tr>
                                    <td>SITE-JAKARTA</td>
                                    <td>JAKARTA BRANCH HO</td>
                                    <td><button class="btn btn-xs btn-success" onclick="selectSupplierSite('SITE-JAKARTA', 'JAKARTA BRANCH HO')">Select</button></td>
                                </tr>
                                <tr>
                                    <td>SITE-SURABAYA</td>
                                    <td>SURABAYA DEPOT</td>
                                    <td><button class="btn btn-xs btn-success" onclick="selectSupplierSite('SITE-SURABAYA', 'SURABAYA DEPOT')">Select</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Klaim Matching Modal -->
        <div class="modal fade" id="lovKlaimMatchingModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Select Klaim Matching</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr style="background: #36752d; color: white;">
                                    <th>Claim Doc No</th>
                                    <th>Amount (IDR)</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>CLM-2026-0004</td>
                                    <td>350.000.000</td>
                                    <td><button class="btn btn-xs btn-success" onclick="selectKlaimMatching('CLM-2026-0004')">Select</button></td>
                                </tr>
                                <tr>
                                    <td>CLM-2026-0012</td>
                                    <td>120.000.000</td>
                                    <td><button class="btn btn-xs btn-success" onclick="selectKlaimMatching('CLM-2026-0012')">Select</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../Scripts/layout.js"></script>
    <script>
        document.addEventListener('layoutReady', () => {
            const todayStr = moment().format('DD-MMM-YYYY');
            document.getElementById('dtRequestDate').value = todayStr;
            document.getElementById('dtDueDate').value = moment().add(30, 'days').format('DD-MMM-YYYY');
            document.getElementById('dtTermDate').value = todayStr;
            document.getElementById('dtInvoiceDate').value = todayStr;
            document.getElementById('dtTaxInvoiceDate').value = todayStr;
            document.getElementById('txtRequestor').value = localStorage.getItem('kds_username') || 'Admin KICAO';

            // Init datepickers
            $('.datepicker').datepicker({
                format: 'dd-M-yyyy',
                autoclose: true,
                todayHighlight: true
            });
        });

        function formatCurrency(val) {
            return new Intl.NumberFormat('id-ID', { minimumFractionDigits: 0 }).format(val);
        }

        function cleanNumber(str) {
            return parseFloat(str.toString().replace(/[^0-9,-]/g, '').replace(',', '.')) || 0;
        }

        function calculateAmounts() {
            const dppInput = document.getElementById('txtInvoiceAmount');
            const dpp = cleanNumber(dppInput.value);
            dppInput.value = formatCurrency(dpp);

            // PPN
            const ppnType = parseInt(document.getElementById('ddlTipePPN').value);
            const ppnAmount = dpp * (ppnType / 100);
            document.getElementById('txtPPN').value = formatCurrency(ppnAmount);

            // PPH
            const pphType = parseInt(document.getElementById('ddlTipePPH').value);
            const pphAmount = dpp * (pphType / 100);
            document.getElementById('txtPPH').value = formatCurrency(pphAmount);

            // Total RFA = DPP + PPN - PPH
            const totalRfa = dpp + ppnAmount - pphAmount;
            document.getElementById('txtTotalRFA').value = formatCurrency(totalRfa);
        }

        function updateTotalDirectly() {
            const dpp = cleanNumber(document.getElementById('txtInvoiceAmount').value);
            const ppn = cleanNumber(document.getElementById('txtPPN').value);
            const pph = cleanNumber(document.getElementById('txtPPH').value);

            document.getElementById('txtPPN').value = formatCurrency(ppn);
            document.getElementById('txtPPH').value = formatCurrency(pph);

            const total = dpp + ppn - pph;
            document.getElementById('txtTotalRFA').value = formatCurrency(total);
        }

        function openSupplierLov() {
            $('#lovSupplierModal').modal('show');
        }

        function selectSupplier(id, name) {
            document.getElementById('txtSupplierID').value = id;
            document.getElementById('txtSupplierName').value = name;
            document.getElementById('txtPaidTo').value = name;
            $('#lovSupplierModal').modal('hide');
        }

        function searchSupplier() {
            const q = document.getElementById('searchSupplier').value.toUpperCase();
            const rows = document.querySelectorAll('#supplierBody tr');
            rows.forEach(row => {
                const name = row.cells[1].textContent.toUpperCase();
                if (name.includes(q)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        }

        function openSupplierSiteLov() {
            $('#lovSupplierSiteModal').modal('show');
        }

        function selectSupplierSite(id, name) {
            document.getElementById('txtSupplierSiteID').value = id;
            document.getElementById('txtSupplierSiteName').value = name;
            document.getElementById('txtExtBankAccountID').value = 'ACC-' + Math.floor(Math.random() * 90000 + 10000);
            $('#lovSupplierSiteModal').modal('hide');
        }

        function openKlaimMatchingLov() {
            $('#lovKlaimMatchingModal').modal('show');
        }

        function selectKlaimMatching(docNo) {
            document.getElementById('txtReffRFA').value = docNo;
            document.getElementById('txtDescription').value = `Matching Klaim ref ${docNo}`;
            $('#lovKlaimMatchingModal').modal('hide');
        }

        // Action Handlers
        function handleFind() {
            bootbox.prompt("Enter Document No to find:", (id) => {
                if (id) {
                    document.getElementById('txtDocNo').value = id;
                    document.getElementById('lblStatusFlow').textContent = 'APPROVED';
                    document.getElementById('lblStatusFlow').className = 'control-label text-green';
                    document.getElementById('btnCreateAsNew').style.display = 'inline-block';
                    document.getElementById('btnPushSmart').style.display = 'inline-block';
                    document.getElementById('btnApprovalHistory').style.display = 'inline-block';
                    bootbox.alert(`Loaded RFA Document: ${id}`);
                }
            });
        }

        function handleSave() {
            const supplier = document.getElementById('txtSupplierID').value;
            if (!supplier) {
                bootbox.alert("Supplier is required!");
                return;
            }

            bootbox.confirm("Do you want to save this RFA Draft?", (res) => {
                if (res) {
                    if (!document.getElementById('txtDocNo').value) {
                        document.getElementById('txtDocNo').value = 'RFA-2026-' + Math.floor(Math.random() * 9000 + 1000);
                    }
                    document.getElementById('lblStatusFlow').textContent = 'DRAFT';
                    document.getElementById('lblStatusFlow').className = 'control-label text-yellow';
                    document.getElementById('btnSubmit').style.display = 'inline-block';
                    bootbox.alert("RFA successfully saved as DRAFT!");
                }
            });
        }

        function handleNew() {
            bootbox.confirm("Reset and create new RFA?", (res) => {
                if (res) {
                    document.getElementById('txtDocNo').value = '';
                    document.getElementById('txtSupplierID').value = '';
                    document.getElementById('txtSupplierName').value = '';
                    document.getElementById('txtSupplierSiteID').value = '';
                    document.getElementById('txtSupplierSiteName').value = '';
                    document.getElementById('txtRFAOracleNo').value = '';
                    document.getElementById('txtReffRFA').value = '';
                    document.getElementById('txtBatchName').value = '';
                    document.getElementById('txtDescription').value = '';
                    document.getElementById('txtInvoiceNo').value = '';
                    document.getElementById('txtTaxInvoiceNo').value = '';
                    document.getElementById('txtPaidTo').value = '';
                    document.getElementById('txtAccountNo').value = '';
                    document.getElementById('txtAccountName').value = '';
                    document.getElementById('txtBankAccount').value = '';
                    document.getElementById('txtInvoiceAmount').value = '0';
                    document.getElementById('txtPPN').value = '0';
                    document.getElementById('txtPPH').value = '0';
                    document.getElementById('txtTotalRFA').value = '0';
                    document.getElementById('txtExtBankAccountID').value = '';
                    
                    document.getElementById('lblStatusFlow').textContent = 'NEW';
                    document.getElementById('lblStatusFlow').className = 'control-label text-blue';
                    
                    document.getElementById('btnSubmit').style.display = 'none';
                    document.getElementById('btnCreateAsNew').style.display = 'none';
                    document.getElementById('btnPushSmart').style.display = 'none';
                    document.getElementById('btnApprovalHistory').style.display = 'none';
                }
            });
        }

        function handleCreateAsNew() {
            bootbox.confirm("Duplicate this record as a new RFA?", (res) => {
                if (res) {
                    document.getElementById('txtDocNo').value = '';
                    document.getElementById('txtRFAOracleNo').value = '';
                    document.getElementById('lblStatusFlow').textContent = 'NEW';
                    document.getElementById('lblStatusFlow').className = 'control-label text-blue';
                    document.getElementById('btnSubmit').style.display = 'none';
                    document.getElementById('btnCreateAsNew').style.display = 'none';
                    document.getElementById('btnPushSmart').style.display = 'none';
                    document.getElementById('btnApprovalHistory').style.display = 'none';
                    bootbox.alert("Record duplicated. Ready to save as new.");
                }
            });
        }

        function handleSubmit() {
            bootbox.confirm("Are you sure you want to Submit this RFA for approval?", (res) => {
                if (res) {
                    document.getElementById('lblStatusFlow').textContent = 'SUBMITTED';
                    document.getElementById('lblStatusFlow').className = 'control-label text-orange';
                    document.getElementById('btnSubmit').style.display = 'none';
                    bootbox.alert("RFA Submitted Successfully!");
                }
            });
        }

        function handleApprovalHistory() {
            bootbox.alert("<h4>Approval History</h4><p>1. <strong>Admin KICAO</strong> (Draft) - approved</p><p>2. <strong>Dept Head</strong> (Review) - approved</p><p>3. <strong>Fin Director</strong> (Approval) - approved</p>");
        }

        function handlePushSmart() {
            $.blockUI({ message: '<h4>Pushing to SMART System...</h4>' });
            setTimeout(() => {
                $.unblockUI();
                document.getElementById('TXT_MESSAGE_SMART').value = 'SUCCESS PUSH TO SMART';
                document.getElementById('txtRFAOracleNo').value = 'ORACL-RFA-' + Math.floor(Math.random() * 900000 + 100000);
                document.getElementById('TXT_INVOICE_STATUS').value = 'IN PROCESS';
                bootbox.alert("RFA successfully pushed to SMART and Oracle!");
            }, 2000);
        }

        function handlePrintBarcode() {
            bootbox.alert("Generating barcode layout... Printing sent to Zebra printer.");
        }

        function handlePrintKPP() {
            bootbox.alert("Generating KPP Report layout... Downloading PDF.");
        }

        function handlePrint() {
            bootbox.alert("Opening Print Dialog...");
        }

        function viewAttachment() {
            const fileHeader = document.getElementById('fileHeader');
            if (fileHeader.files.length === 0) {
                bootbox.alert("No attachment uploaded yet.");
            } else {
                bootbox.alert(`Viewing attachment: <strong>${fileHeader.files[0].name}</strong>`);
            }
        }

        function deleteAttachment() {
            document.getElementById('fileHeader').value = '';
            bootbox.alert("Attachment deleted.");
        }
    </script>
</body>
</html>
